.wrapper-article {
  margin: 50px 200px;

    border-style:solid;
  border-width: 1px;
  padding: 10px 30px;
border-radius: 4px;

    h4{
    text-decoration: underline;
    font-weight: bolder;
  }
  h6 {
    font-weight: lighter;
  }
background-color: rgba(255,255,255,0.15);
}



//   border-style:solid;
//   border-width: 1px;
//   padding: 10px 30px;

//   h4{
//     text-decoration: underline;
//     font-weight: bolder;
//   }
//   h6 {
//     font-weight: lighter;
//   }
// }



// .wrapper-page {
//   padding: 50px;
//   margin: 50px;
// }
