      <div class="navbar">
        <%= image_tag "logo.png", :class => "avatar"%>

        <div class="tabs">
        <a class="tab", href= "actus.html"> Actualités</a>
        <a class="tab", href= "#"> Mon Parcours</a>
        <a class="tab", href= "#"> Ma consultation</a>
        <a class="tab", href= "contact.html">Me contacter</a>
        </div>
<!--           <div class="adresse hidden-sm">
          <h3>44 rue coquillière</h3>
          <h4>75001, Paris</h4>
          <h3>06 25 11 76 49</h3>
          </div> -->
      </div>
