

  <div class="wrapper-article">

  <h4>
    Ostéopathes : ces mains qui soignent
  </h4>

  <h6>LE MONDE | 04.02.2017 </h6>

  <h5>
  Maux de dos, blocages articulaires, muscles endoloris ou torticolis... Autant de symptômes que les ostéopathes, formés en cinq années après le baccalauréat, peuvent prendre en charge. Immersion dans une école historique de la profession.
  </h5>

  <h6>
  « Vos patients sont sur le dos, jambes fléchies ou tendues. Mettez-leur un coussin sous la tête, puis placez vos mains sur leurs épaules. Vos index vont longer au maximum les clavicules… » C’est ainsi que Dorothée Dumont, professeure au Centre européen d’enseignement supérieur de l’ostéopathie (Ceeso), situé à Saint-Denis, aux portes de Paris, guide ses élèves en ce lundi de janvier. A peine leurs partiels terminés, une trentaine de jeunes, inscrits en quatrième année dans cette formation paramédicale, s’initient à de nouvelles techniques de soins lors d’un cours centré sur le « dôme pleural », la partie supérieure des poumons.
  Après une demi-heure d’explications, avec documents PowerPoint et démonstration sur l’estrade à l’appui, tous se mettent en situation. Une partie des élèves, allongés sur les tables, font comme s’ils venaient en consultation, tandis que les autres, dans le rôle du praticien, suivent les consignes.­ </h6>

  </div>
<!--
  <h5>
  L’écoute, une qualité essentielle
  </h5>

  <h6>
  Décomposant chaque mouvement, ­Dorothée Dumont passe dans les rangs pour voir comment procède chaque ­binôme et rectifier si besoin certains gestes. « Tes mains sont trop proches, tourne-les un peu pour éviter qu’elles se trouvent en cisaille, ce sera plus agréable pour ton patient »,glisse-t-elle. Et d’appeler un étudiant à dire ce qu’il éprouve à son camarade. « C’est important qu’ils soient alternativement à la place du patient et ressentent les effets des différentes techniques, ajoute-t-elle. Cela les ­incite à prendre plus de précautions et renforce leur empathie. »
L’écoute est une qualité essentielle à développer pour exercer ce métier, qui prône une prise en charge « globale » des patients. Selon les symptômes, mais aussi l’histoire et le mode de vie de chacun, l’ostéopathe adapte son approche. « Pour dix patients reçus pour un mal de dos, neuf traitements différents seront mis en place, ­explique Bertrand Bouriaud, directeur du Ceeso. Consulter pour un lumbago en plein hiver, après trois mois de travail ­intensif, ou au retour de vacances d’été, cela n’a rien à voir. »
Si, à l’instar des kinésithérapeutes, les ostéopathes se servent de leurs mains pour soigner, les deux métiers se ­situent sur des plans différents. « Eux sont des professionnels de la rééducation. Ils interviennent sur prescription médicale. Nous, ostéopathes, sommes habilités à poser un diagnostic et à prendre en charge tout problème fonctionnel, par exemple une mauvaise digestion ou des difficultés à marcher », précise M. Bouriaud. En cas de problème organique – infection, fracture ou autre ­– aux praticiens de réorienter le patient vers un médecin. Voilà qui nécessite un ­bagage de connaissances théoriques et pratiques très complet.
Fixé par décret en 2014, un cadre national établit à 4 860 heures la durée de ­formation nécessaire. Soit un rythme assez soutenu d’une trentaine d’heures de cours par semaine, sur cinq ans, que le Ceeso avait adopté de longue date. « Les deux premières années sont très poussées en anatomie. On doit ­connaître tous les muscles, os ou nerfs, ce qui nécessite un travail conséquent, ­remarque ­Estelle Yaïche, 23 ans, désormais en cinquième année. Il faut aussi beaucoup s’entraîner à reproduire les techniques. » Dès le ­début, les enseignements théoriques s’assortissent en effet de nombreux travaux dirigés. Puis, en fin de troisième année, « ils maîtrisent le ­bagage technique nécessaire pour prendre en charge des patients et débuter en clinique », note Céline Rozé, qui dirige cet espace de soins interne à l’établissement. Supervisés par leurs enseignants, les élèves de deuxième cycle accueillent le grand public pour un total de 12 000 consultations par an.
« C’est une révélation quand on arrive à ce stade. Face aux patients, on comprend concrètement l’utilité de notre travail et c’est gratifiant d’aider les gens », juge Thomine Nicolaï-De Luz, 21 ans, en quatrième année. Pendant les vacances de Noël, elle a d’ailleurs continué à recevoir des patients, alors le classique rythme scolaire entrecoupé de congés n’est déjà plus qu’un souvenir. Avec ses camarades, la jeune femme doit aussi contribuer au secrétariat et à la comptabilité de la clinique, renseigner les dossiers médicaux et assurer des périodes d’astreinte ! « On estime qu’on doit leur ­apprendre à gérer une patientèle de A à Z, complète Céline Rozé. Il est fondamental d’instaurer au plus tôt un état d’esprit professionnel. »
</h6>
</div>

 -->

