    <div class="wrapper-form center-block">
       <form action="#">
          <div class="form-group form-inline">
            <div class="small-forms">
             <input type="text" class="form-control" id="small" placeholder="Nom complet">
             <input type="text" class="form-control" id="small" placeholder="Numéro">
             </div>
          </div>
         <input type="text" class="form-control big" placeholder="Décrire le contexte">
  <!--        <select name="" id="" class="form-control input-lg">
           <option value="1">1 guest</option>
           <option value="2">2 guests</option>
           <option value="3">3 guests</option> -->
    <!--      </select> -->
         <input type="submit" class="btn btn-banner" id= "submit-button" value="Envoyer">
       </form>
    </div>
