  .navbar {
    height: 85px;
      background: rgba(255,255,255,0.1);
    box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
  position: relative;
   padding-bottom: 40px!important ;
}

.navbar img {
  display: flex;
  position: absolute;
  top : 8px;
  left: 30px;
  width: 70px;
  height: 70px;
  border-radius:50%;
}
.navbar h3 {
  font-weight:lighter;
  font-size: 15px;
    margin: 0px;
    margin-top:10px;
}

.adresse {
  position: absolute;
  top : 8px;
  right: 30px;
  text-align: left;
}

.navbar h4 {
  font-weight:lighter;
  font-size: 13px;
  opacity: 0.8;
    margin: 0px;
    padding: 0px ;
}

